@charset "UTF-8";

@media screen and (max-width: 2600px) { /*ウィンドウ幅が1200pxまでの場合*/

    .msg {
        color: blue;
        font-size: 20px;
    }

    #btn1, #btn2, #btn3, #btn4 {
        background-color: white;
        color: black;
        display: inline-block;
        font-size: 20px;
        border-radius: 5px;
        border: solid 1px rgb(233, 233, 233);
        width: 300px;
        height: 140px;
    }

    #btn1, #btn2 {
        margin-bottom: 40px;
    }

    #btn1, #btn3 {
        margin-right: 40px;
    }

}

@media screen and (max-width: 768px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/

    .msg {
        color: blue;
        font-size: 15px;
    }

    #btn1, #btn2, #btn3, #btn4 {
        background-color: white;
        color: black;
        display: inline-block;
        font-size: 13px;
        border-radius: 5px;
        border: solid 1px rgb(233, 233, 233);
        width: 240px;
        height: 80px;
    }

    #btn1, #btn2 {
        margin-bottom: 10px;
    }

    #btn1, #btn3 {
        margin-right: 10px;
    }

}

@media screen and (max-width: 490px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/

    .msg {
        color: blue;
        font-size: 10px;
    }

    #btn1, #btn2, #btn3, #btn4 {
        background-color: white;
        color: black;
        display: inline-block;
        font-size: 13px;
        border-radius: 5px;
        border: solid 1px rgb(233, 233, 233);
        width: 150px;
        height: 60px;
    }

    #btn1, #btn2 {
        margin-bottom: 10px;
    }

    #btn2, #btn4 {
        margin-right: 10px;
    }
}